<div class="row bg-primary p-3">
  <app-box
    class="col-12 col-sm-6 col-md-3"
    title="Wartość zamówień"
    count="{{ totalOrdersValue }}"
  ></app-box>
  <app-box
    class="col-12 col-sm-6 col-md-3"
    title="Kontrahenci"
    count="{{ contractorsCount }}"
  ></app-box>
  <app-box
    class="col-12 col-sm-6 col-md-3"
    title="Zamówienia"
    count="{{ ordersCount }}"
  ></app-box>
  <app-box
    class="col-12 col-sm-6 col-md-3"
    title="Produkty"
    count="{{ productsCount }}"
  ></app-box>
</div>
