#order-number-heading {
  display: inline-block;
  text-align: right;
  width: 70%;
}

#order-id-container {
  display: inline-block;
  width: 30%;
  text-align: right;
}

span#order-id {
  font-size: x-large;
  font-weight: bolder;
  padding-right: 5%;
}

span#order-date-time {
  margin-right: 20%;
}

#order-heading-container {
  padding: 1% 0;
}

:host ::ng-deep form.dynamic-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

:host ::ng-deep app-input:nth-child(1),
:host ::ng-deep app-input:nth-child(2) {
  width: 49%;
}

:host ::ng-deep #company-form-container app-input:nth-child(1) {
  width: 100%;
}

:host ::ng-deep #company-form-container app-input:nth-child(1) input {
  width: 49%;
}

:host ::ng-deep #company-form-container app-nip {
  width: 100%;
}

:host ::ng-deep #company-form-container app-nip input {
  width: 40%;
}

:host ::ng-deep #company-form-container app-nip button {
  width: 9%;
}

:host ::ng-deep #company-form-container app-input:nth-child(3),
:host ::ng-deep #company-form-container app-input:nth-child(5),
:host ::ng-deep #company-form-container app-input:nth-child(8),
:host ::ng-deep #privatePerson-form-container app-input:nth-child(1),
:host ::ng-deep #privatePerson-form-container app-input:nth-child(3),
:host ::ng-deep #privatePerson-form-container app-input:nth-child(6) {
  width: 24%;
}

:host ::ng-deep #company-form-container app-input:nth-child(4),
:host ::ng-deep #company-form-container app-input:nth-child(9),
:host ::ng-deep #privatePerson-form-container app-input:nth-child(2),
:host ::ng-deep #privatePerson-form-container app-input:nth-child(7) {
  width: 75%;
}

:host ::ng-deep #company-form-container app-input:nth-child(4) input,
:host ::ng-deep #company-form-container app-input:nth-child(9) input,
:host ::ng-deep #privatePerson-form-container app-input:nth-child(2) input,
:host ::ng-deep #privatePerson-form-container app-input:nth-child(7) input {
  width: 32%;
}

:host ::ng-deep #company-form-container app-input:nth-child(6),
:host ::ng-deep #privatePerson-form-container app-input:nth-child(4) {
  width: 12%;
}

:host ::ng-deep #company-form-container app-input:nth-child(7),
:host ::ng-deep #privatePerson-form-container app-input:nth-child(5) {
  width: 62%;
}

:host ::ng-deep #company-form-container app-input:nth-child(7) input,
:host ::ng-deep #privatePerson-form-container app-input:nth-child(5) input {
  width: 18%;
}

:host ::ng-deep app-products {
  width: 100%;
}

:host ::ng-deep app-nip .form-control.is-invalid ~ .invalid-feedback {
  display: inline-block;
}

/*
:host ::ng-deep app-radiobutton {
  width: 100%;
  margin-bottom: 10px;
}

:host ::ng-deep app-input:nth-child(4),
:host ::ng-deep app-nip,
:host ::ng-deep app-products {
  width: 100%;
}

:host ::ng-deep app-nip button.btn-get-data-from-gus {
  width: 10%;
}

:host ::ng-deep app-nip .form-control.is-invalid ~ .invalid-feedback {
  display: inline-block;
}

:host ::ng-deep app-input:nth-child(6),
:host ::ng-deep app-input:nth-child(8),
:host ::ng-deep app-input:nth-child(11) {
  width: 24%;
}

:host ::ng-deep app-input:nth-child(7) {
  width: 75%;
}

:host ::ng-deep app-input:nth-child(7) input,
:host ::ng-deep app-input:nth-child(12) input {
  width: 32%;
}

:host ::ng-deep app-input:nth-child(9) {
  width: 13%;
}

:host ::ng-deep app-input:nth-child(10) {
  width: 61%;
}

:host ::ng-deep app-input:nth-child(10) input {
  width: 16%;
}

:host ::ng-deep app-input:nth-child(12) {
  width: 75%;
} */
