#order-number-heading {
  display: inline-block;
  text-align: right;
  width: 70%;
}

#order-id-container {
  display: inline-block;
  width: 30%;
  text-align: right;
}

span#order-id {
  font-size: x-large;
  font-weight: bolder;
  padding-right: 5%;
}

span#order-date-time {
  margin-right: 20%;
}

#order-heading-container {
  padding: 1% 0;
}

:host ::ng-deep form.dynamic-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

:host ::ng-deep app-input:nth-child(1),
:host ::ng-deep app-input:nth-child(2) {
  width: 49%;
}

:host ::ng-deep app-input:nth-child(3) {
  width: 100%;
}
:host ::ng-deep app-input:nth-child(3) input {
  width: 49%;
}

:host ::ng-deep app-products {
  width: 100%;
}
