<div class="container mt-4">
  <div class="row">
    <div class="col-sm">
      <div style="height: 45px" class="mb-2">
        <div *ngIf="editForm.dirty" class="alert alert-info">
          <p class="mb-0">
            <strong>
              Uwaga!
            </strong>
            Wprowadziłeś zmiany - zapisz je!
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <label for="nick">Wyświetlany nick</label>
                <input type="text" class="form-control" name="nick" [(ngModel)]="user.knownAs" />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-4">
                <label for="name">Imię</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="user.name" />
              </div>
              <div class="col-sm-6 col-md-4">
                <label for="forename">Nazwisko</label>
                <input type="text" class="form-control" name="forename" [(ngModel)]="user.forename" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <label for="noweHaslo">Nowe hasło</label>
                <input type="password" class="form-control" name="noweHaslo" [(ngModel)]="user.password" />
              </div>
              <div class="col-sm-6 col-md-4">
                <label for="powtorzNoweHaslo">Powtórz nowe hasło</label>
                <input type="password" class="form-control" name="powtorzNoweHaslo" [(ngModel)]="user.repeatedPassword" />
              </div>
            </div>
          </form>

        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Zapisz zmiany</button>
          </div>

          <div class="btn-group d-flex mt-3"></div>
          <button class="btn btn-danger btn-block">Usuń konto</button>
        </div>
      </div>
    </div>
  </div>
</div>