<div class="container mt-3">
  <div *ngIf="!registerMode" class="text-center">
    <h1>Aplikacja webowa do obsługi zamówień <br />w firmie budowlanej.</h1>
    <hr id="header-main-line" />

    <div class="text-left">
      <h3>Nadchodzące zmiany</h3>
      <ul>
        <li>podzial na firma/ osoba prywatna,</li>
        <li>zamowienia podzial na dany rok</li>
        <li>wydruk (przedmioty, i cena)</li>
        <li>back up danych,</li>
        <li>statystyki kontrachent, produkt</li>
        <li>Najlepszy kontrahent (po cenie)</li>
        <li>co sie najlepiej sprzedalo,</li>
        <li>miejsca na podpisy przy wydruku,</li>
      </ul>
    </div>

    <div class="text-left">
      <h3>Najnowsze zmiany</h3>
      <ul>
        <span class="realease-date-header">20.12.2018</span>
        <li class="plus">dodawanie produktów,</li>
        <li class="plus">dodawanie kontrahentów,</li>
        <li class="plus">dodawanie zamówień,</li>
      </ul>
    </div>

    <div class="text-center">
      <button
        class="btn btn-primary btn-lg mr-2"
        disabled
        (click)="registerToggle()"
      >
        Załóż konto
      </button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
