<p *ngIf="!data">Ładowanie...</p>
<div *ngIf="data">
  <ngx-datatable
    class="material"
    [rows]="data.results"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="data.totalItemsCount"
    [loadingIndicator]="loading"
    [offset]="0"
    [limit]="10"
    (page)="setPage($event)"
    [messages]="{ emptyMessage: 'Brak wyników.', totalMessage: 'wszystkich' }"
    (activate)="onActivate($event)"
  >
  </ngx-datatable>
</div>
