#total {
  justify-content: flex-end;
  display: flex;
}

#total-label {
  margin-right: 20px;
}

#total-label span {
  display: inline-block;
  margin: 20px;
}

#total-netto,
#total-brutto {
  padding: 20px;
  background: white;
  color: black;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 1px solid #0000000d;
}
