<div>
  <ngx-datatable
    #mydatatable
    class="material"
    [headerHeight]="50"
    [limit]="10"
    [columnMode]="'flex'"
    [footerHeight]="0"
    [rowHeight]="'auto'"
    [rows]="rows"
    [messages]="{ emptyMessage: 'Brak produktów w zamówieniu!' }"
  >
    <ngx-datatable-column name="actions" [flexGrow]="1">
      <ng-template ngx-datatable-header-template> </ng-template>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
        <i
          title="Usuń produkt z listy"
          class="fa fa-trash btn btn-primary btn-sm"
          aria-hidden="true"
          (click)="onRemoveProductFromListClick(rowIndex)"
        ></i>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="id" [flexGrow]="1">
      <ng-template ngx-datatable-header-template>
        <span>Lp.</span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="name" [flexGrow]="3">
      <ng-template ngx-datatable-header-template>
        <span>Nazwa</span>
      </ng-template>
      <div>
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
          let-style="position: relative"
          let-id="test"
        >
          <span
            title="Kliknij, aby edytować"
            (click)="editing[rowIndex + '-name'] = true"
            (dblclick)="editing[rowIndex + '-name'] = true"
            *ngIf="!editing[rowIndex + '-name']"
            class="name-placeholer"
          >
            {{ value }}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'name', rowIndex)"
            *ngIf="editing[rowIndex + '-name']"
            type="text"
            [value]="value"
            class="w-100"
          />
        </ng-template>
      </div>
    </ngx-datatable-column>

    <ngx-datatable-column name="quantity" [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        <span>Ilość</span>
      </ng-template>
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <span
          title="Kliknij, aby edytować"
          (click)="editing[rowIndex + '-quantity'] = true"
          (dblclick)="editing[rowIndex + '-quantity'] = true"
          *ngIf="!editing[rowIndex + '-quantity']"
          class="container-fluid"
        >
          {{ value }}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'quantity', rowIndex)"
          *ngIf="editing[rowIndex + '-quantity']"
          type="number"
          [value]="value"
          class="w-100"
        />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="unitOfMeasure" [flexGrow]="2">
      <ng-template ngx-datatable-header-template> <span>Jm</span> </ng-template>
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-row="row"
        let-value="value"
      >
        <span
          title="Kliknij, aby edytować"
          (click)="editing[rowIndex + '-unitOfMeasure'] = true"
          (dblclick)="editing[rowIndex + '-unitOfMeasure'] = true"
          *ngIf="!editing[rowIndex + '-unitOfMeasure']"
          class="container-fluid"
        >
          {{ value }}
        </span>
        <select
          *ngIf="editing[rowIndex + '-unitOfMeasure']"
          (blur)="editing[rowIndex + '-unitOfMeasure'] = false"
          (change)="updateValue($event, 'unitOfMeasure', rowIndex)"
          [value]="value"
          class="w-100"
        >
          <option value="sztuka">sztuka</option>
          <option value="metr">metr</option>
          <option value="mb">mb</option>
          <option value="m2">m<sup>2</sup></option>
        </select>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="pricePerUnit" [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        <span>Cena za jednostkę</span>
      </ng-template>
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <span
          title="Kliknij, aby edytować"
          (click)="editing[rowIndex + '-pricePerUnit'] = true"
          (dblclick)="editing[rowIndex + '-pricePerUnit'] = true"
          *ngIf="!editing[rowIndex + '-pricePerUnit']"
        >
          {{ value | currency: 'PLN':'symbol' }}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'pricePerUnit', rowIndex)"
          *ngIf="editing[rowIndex + '-pricePerUnit']"
          type="number"
          [value]="value"
          class="w-100"
        />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="totalCost" [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        <span>Łączna cena</span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value | currency: 'PLN':'symbol' }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<span class="add-product-to-order" (click)="onAddProductToOrderClick()">
  Dodaj produkt do zamówienia <i class="fa fa-plus-circle"></i>
</span>

<div>
  <h2>
    Razem do zapłaty:
    <span class="text-secondary">{{ toPay | currency: 'PLN':'symbol' }}</span>
  </h2>
</div>
