<div>
  <ngx-datatable
    #mydatatable
    class="material"
    [headerHeight]="50"
    [limit]="10"
    [columnMode]="'flex'"
    [footerHeight]="0"
    [rowHeight]="'auto'"
    [rows]="rows"
    [messages]="{ emptyMessage: 'Brak produktów w zamówieniu!' }"
  >
    <ngx-datatable-column name="actions" [flexGrow]="1">
      <ng-template ngx-datatable-header-template> </ng-template>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
        <i
          title="Usuń produkt z listy"
          class="fa fa-trash btn btn-primary btn-sm"
          aria-hidden="true"
          (click)="onRemoveProductFromListClick(rowIndex)"
        ></i>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="lp" [flexGrow]="1">
      <ng-template ngx-datatable-header-template>
        <span>Lp.</span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="name" [flexGrow]="3">
      <ng-template ngx-datatable-header-template>
        <span>Nazwa</span>
      </ng-template>
      <div>
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
          let-style="position: relative"
          let-id="test"
        >
          <span
            title="Kliknij, aby edytować"
            (click)="editing[rowIndex + '-name'] = true"
            (dblclick)="editing[rowIndex + '-name'] = true"
            *ngIf="!editing[rowIndex + '-name']"
            class="name-placeholer"
          >
            {{ value }}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'name', rowIndex)"
            *ngIf="editing[rowIndex + '-name']"
            type="text"
            [value]="value"
            class="w-100"
          />
        </ng-template>
      </div>
    </ngx-datatable-column>

    <ngx-datatable-column name="orderQuantity" [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        <span>Ilość</span>
      </ng-template>
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <span
          title="Kliknij, aby edytować"
          (click)="editing[rowIndex + '-orderQuantity'] = true"
          (dblclick)="editing[rowIndex + '-orderQuantity'] = true"
          *ngIf="!editing[rowIndex + '-orderQuantity']"
          class="container-fluid"
        >
          {{ value }}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'orderQuantity', rowIndex)"
          *ngIf="editing[rowIndex + '-orderQuantity']"
          type="number"
          [value]="value"
          class="w-100"
        />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="unitOfMeasure" [flexGrow]="2">
      <ng-template ngx-datatable-header-template> <span>Jm</span> </ng-template>
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-row="row"
        let-value="value"
      >
        <span
          title="Kliknij, aby edytować"
          (click)="editing[rowIndex + '-unitOfMeasure'] = true"
          (dblclick)="editing[rowIndex + '-unitOfMeasure'] = true"
          *ngIf="!editing[rowIndex + '-unitOfMeasure']"
          class="container-fluid"
        >
          {{ value }}
        </span>
        <select
          *ngIf="editing[rowIndex + '-unitOfMeasure']"
          (blur)="editing[rowIndex + '-unitOfMeasure'] = false"
          (change)="updateValue($event, 'unitOfMeasure', rowIndex)"
          [value]="value"
          class="w-100"
        >
          <option value="sztuka">sztuka</option>
          <option value="metr">metr</option>
          <option value="mb">mb</option>
          <option value="m2">m<sup>2</sup></option>
        </select>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="vat" [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        <span>Vat</span>
      </ng-template>
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-row="row"
        let-value="value"
      >
        <span
          title="Kliknij, aby edytować"
          (click)="editing[rowIndex + '-vat'] = true"
          (dblclick)="editing[rowIndex + '-vat'] = true"
          *ngIf="!editing[rowIndex + '-vat']"
          class="container-fluid"
        >
          {{ value }}
        </span>
        <select
          *ngIf="editing[rowIndex + '-vat']"
          (blur)="editing[rowIndex + '-vat'] = false"
          (change)="updateValue($event, 'vat', rowIndex)"
          [value]="value"
          class="w-100"
        >
          <option [ngValue]="0">0</option>
          <option [ngValue]="18">18</option>
          <option [ngValue]="21">21</option>
          <option [ngValue]="22">22</option>
        </select>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="netPrice" [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        <span>Cena netto</span>
      </ng-template>
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <span
          title="Kliknij, aby edytować"
          (click)="editing[rowIndex + '-netPrice'] = true"
          (dblclick)="editing[rowIndex + '-netPrice'] = true"
          *ngIf="!editing[rowIndex + '-netPrice']"
        >
          {{ value | currency: 'PLN':'symbol' }}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'netPrice', rowIndex)"
          *ngIf="editing[rowIndex + '-netPrice']"
          type="number"
          [value]="value"
          class="w-100"
        />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="grossPrice" [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        <span>Cena brutto</span>
      </ng-template>
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
      >
        <span
          title="Kliknij, aby edytować"
          (click)="editing[rowIndex + '-grossPrice'] = true"
          (dblclick)="editing[rowIndex + '-grossPrice'] = true"
          *ngIf="!editing[rowIndex + '-grossPrice']"
        >
          {{ value | currency: 'PLN':'symbol' }}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'grossPrice', rowIndex)"
          *ngIf="editing[rowIndex + '-grossPrice']"
          type="number"
          [value]="value"
          class="w-100"
        />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="totalNetPrice" [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        <span>Wartość zamówienia netto</span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value | currency: 'PLN':'symbol' }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="totalGrossPrice" [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        <span>Wartość zamówienia brutto</span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value | currency: 'PLN':'symbol' }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<span class="add-product-to-order" (click)="onAddProductToOrderClick()">
  Dodaj produkt do zamówienia <i class="fa fa-plus-circle"></i>
</span>

<div>
  <h2>
    Razem do zapłaty:
    <span class="text-secondary">{{
      netPrice | currency: 'PLN':'symbol'
    }}</span>
    <span class="text-secondary">{{
      grossPrice | currency: 'PLN':'symbol'
    }}</span>
  </h2>
</div>
