<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>

<div class="form-group form-group-height" [formGroup]="group">
  <input
    *ngIf="!field.typeahead"
    [ngClass]="{
      'is-invalid':
        group.get(field.name).errors && group.get(field.name).touched
    }"
    class="form-control"
    [formControlName]="field.name"
    [placeholder]="field.label"
    [type]="field.inputType"
    [min]="field.min"
    [value]="
      field.default
        ? field.type === 'date'
          ? (field.default | date: 'yyyy-MM-dd')
          : field.default
        : ''
    "
  />
  <input
    *ngIf="field.typeahead"
    [ngClass]="{
      'is-invalid':
        group.get(field.name).errors && group.get(field.name).touched
    }"
    class="form-control"
    [formControlName]="field.name"
    [placeholder]="field.label"
    [type]="field.inputType"
    [min]="field.min"
    [ngbTypeahead]="search"
    [class.is-invalid]="searchFailed"
    [resultTemplate]="rt"
  />
  <!-- [inputFormatter]="formatter" -->
  <span *ngIf="searching">wyszukiwanie...</span>
  <div class="invalid-feedback" *ngIf="searchFailed">Nie znaleziono.</div>
  <ng-container *ngFor="let validation of field.validations">
    <div
      class="invalid-feedback"
      *ngIf="
        group.get(field.name).hasError(validation.name) &&
        group.get(field.name).touched
      "
    >
      {{ validation.message }}
    </div>
  </ng-container>
</div>
